.couponheaderbg{

    width: 100%;
    height: 60px;
    background-color: #E4CEAE;

}
.couponheader{
    margin-left: 15vh;
    margin-right: 15vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
}

.couponheader button{
    width: 130px;
    height: 35px;
    border: none;
    border-radius: 100px;
    background-color: #661113;
    color: #fff;
}
.smt{
    display: flex;
    width: 25%;
    margin-top: 2vh;
    justify-content: left;
    font-size: 30px;
    background-color: #661113;
    color: #fff;
    height: 60px;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.smt p{
    margin-left: 70px;
}
.smttext{
    font-size: 20px;
    margin-top: 20px;
}